<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hobbies - Jared Good</title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <!--scripts-->
    <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body id="hobbies">
    <!--Nav Bar-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./"><i class="fa fa-terminal" aria-hidden="true"></i> Jared T Good</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="./"><i class="fa fa-home" aria-hidden="true"></i> Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="resume.html"><i class="fa fa-file-text" aria-hidden="true"></i> Resume</a></li>
                    <li class="active"><a href="#"><i class="fa fa-gamepad" aria-hidden="true"></i> Hobbies</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--Content-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="hobby">
                    <h3>Games</h3>
                    <hr>
                    <h4>Pen and Paper RPG's</h4>
                    <hr>
                    <p>
                        I started playing pen and paper role playing games as a young man. I have many a fond memory with my brothers
                        sitting around the dinner table late into the night playing a character of my own creation.
                        I love playing the <a
                            href="http://palladiumbooks.com/">Palladium Games System.</a> This is the one that started it all for me.
                            From Palladium, Rifts, TMNT, After the Bomb, Phase World, Heros Unlimited and more I love this game system 
                            and the creativity that you can express in its rule system.
                            I have also played <a
                            href="http://dnd.wizards.com/">Dungeons and Dragons</a> , and <a href="http://paizo.com/pathfinderRPG">Pathfinder</a>. 
                            As well as a few less popular game systems. I also have started to teach my own children how to play pen and paper RPG games.
                            One of my children struggles with reading and it was an easy way to get them to read and do math all while having fun.
                    </p>
                    <hr>
                    <h4>Video Games</h4>
                    <hr>
                    <p>
                        Oddly enough I am not the video game freak at my house. I love them and am fond of classic NES and SNES JRPG games. 
                        However video games are more often played by my wife and kids.
                        I play them and enjoy the time I spend on them with my family, but the games I love to play suck to much of my life away and so I dont play them often.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="hobby">
                    <h3>Church</h3>
                    <hr>
                    <p>
                        My Religion is part of my everyday life. I am a member of <a href="http://churchofjesuschrist.org">The Church of Jesus Christ of Latter-Day Saints</a>. 
                        Because God is important to me and has been my whole life I decided to serve a proselyting mission. I was assigned to serve the people of Guatemala and
                        have a love for the beauty of that country and those people. I also have plans in the future once my children are grown to serve another mission together
                        with my wife. I also speak with my children about my mission and the role that it played in shaping my future.
                    </p>
                    <p>If you are interested in learning more about my religion see the link below.</p>
                    <a href="https://www.comeuntochrist.org/">Come unto Christ</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="hobby">
                    <h3>Family</h3>
                    <hr>
                    <p>
                        Family has a special place in my heart. I am a Father of 5 children, the husband of a wonderful wife, the son of amazing parents. 
                        My family has helped shape me into the man I have become. The teachings of loving parents who took time encourage my love of computers.
                        Who dedicated hours of time to my band and choir concerts, who taught me how to work on cars and on a home. Who taught me to be a father.
                        My wife whose patecients and love for our family humbles me and makes me wish to be a better man. Who encourages my dreams and works towards them 
                        together with me. My children who without realizing it have taught me that the most important title that I will ever hold is Father.
                        I love them and will place them before other things.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>