<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume - Jared T Good</title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/resume.css">
    <!--scripts-->
    <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./"><i class="fa fa-terminal" aria-hidden="true"></i>Jared T Good</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="./"><i class="fa fa-home" aria-hidden="true"></i> Home<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Resume</a></li>
                    <li><a href="hobbies.html"><i class="fa fa-gamepad" aria-hidden="true"></i> Hobbies</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--Page Content-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Jared T Good</h1>
                <div class="row">
                    <div class="col-md-4"><i class="fa fa-mobile" aria-hidden="true"></i>: (559) 300-50##</div>
                    <div class="col-md-4"><i class="fa fa-envelope" aria-hidden="true"></i>: <a href="mailto:jared_danell@yahoo.com" id="email">jared_danell@yahoo.com</a></div>
                    <div class="col-md-4">
                        <a href="https://www.linkedin.com/pub/jared-good/3/9b6/411" id='linkedin' style='color:white;'>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>: linkedIn Profile
                        </a>
                    </div>
                </div>
                <div class="row" id="bio">
                    <p class="col-xs-12 ">
                        I love life. In my life there are 3 things that are more sacred then all others. 
                        My God, My Family, and Food. I am a <a href=''>INTJ personality type</a> meaning: 
                        I have a Quick, Imaginative, and Strategic Mind full of Curiosity. 
                        I am Self-Confident in what I can do and what I know. 
                        I am Independent and work fine both alone and with small groups. I am Hard-Working and determined to accomplish my goals. 
                        I am wonderfully open-minded about ideas and love to learn. I don't mind admitting I am wrong if logic has shown me to be so.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="images/jared.jpg" alt="My Photo" class="img-circle profilepic">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 Section-Title">
                <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education:</h4>
            </div>
            <div class="col-md-10">
                <div class="Section-Item">
                    <h3>Western Govenors University</h3>
                    <h5>Degree: Bachelor of Science</h5>
                    <p><span class="strong">Major:</span> Information Technology - Software</p>
                </div>
                <div class="Section-Item">
                    <h3>College of the Sequoias</h3>
                    <h5>Degree: Associate of Science</h5>
                    <p><span class="strong">Major:</span> Mathamatics and Science</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 Section-Title">
                <h4><i class="fa fa-certificate" aria-hidden="true"></i> Certifications:</h4>
            </div>
            <div class="col-md-10">
                <div class="Section-Item">
                    <h3>Comptia</h3>
                    <ul>
                        <li>A+ (expired)</li>
                        <li>Network+ (expired)</li>
                        <li>Security+ (expired)</li>
                        <li>Project+</li>
                    </ul>
                    <h3>Microsoft</h3>
                    <ul>
                        <li>MTA Windows OS Fundamentals</li>
                        <li>Windows Server Fundamentals</li>
                        <li>Networking Fundamentals</li>
                        <li>Security Fundamentals</li>
                        <li>Web Development Fundamentals</li>
                        <li>Database Fundamentals</li>
                    </ul>
                    <h3>CIW</h3>
                    <ul>
                        <li>Web Foundation Associate</li>
                        <li>Web Design Specialist</li>
                        <li>JavaScript Specialist</li>
                        <li>Database Design Specialist</li>
                        <li>Perl Design Specailist</li>
                        <li>Web Development Professional</li>
                    </ul>
                    <h3>Oracle</h3>
                    <ul>
                        <li>OCJA 7 SE</li>
                    </ul>
                    <h3>IC3</h3>
                    <ul>
                        <li>GS3</li>
                    </ul>
                </div>
                <div class="Section-Item">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 Section-Title">
                <h4><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Experience:</h4>
            </div>
            <div class="col-md-10">
                <div class='Section-Item'>
                    <h3>Software Engineer</h3>
                    <p><span class='strong'>PowerSchool LLC</span> - Remote 2018 : Today</p>
                    <ul>
                        <li>Full Stack Developer working on financial product lines.</li>
                        <ul>
                            <li>C#</li>
                            <li>Angular</li>
                            <li>Web fontend languages</li>
                        </ul>
                        <li>Provide all custom modifications for COBOL to clients. The major portion of this is the clients Check writing software. Also provide custom modifications to client’s web interfaces and reports using SQL, C# and other languages as needed. </li>
                        <li>SQL and Oracle database integrations,development, and customization.</li>
                        <li>Design custom APIs for clients to integrate 3rd party applications into our software. Including Workflows and webhooks</li>
                    </ul>
                </div>
                <div class="Section-Item">
                    <h3>System Specialist / Full Stack Developer</h3>
                    <p><span class="strong">Lafayette School Corporation:</span> - Lafayette, In - 2016 : 2018</p>
                    <ul>
                        <li>Updated and Customized PowerSchool Student Information System. Added custom queries and pages. Created Custom reports to better display data from Oracle Database</li>
                        <li>Assisted with Largest Microsoft Surface Deployment in U.S. for Education. Assisted with 1:1 program for school district bring ipads to all studnents k-6 and surfaces 7-12.</li>
                        <li>Created and Update Websites</li>
                        <li>Migrated district to Azure for servers and designed SharePoint Workflows</li>
                        <li>Created a custom repair ticket system for students who have device issues to be serviced in a timely manner.</li>
                    </ul>
                </div>
                <div class="Section-Item">
                    <h3>Technical Support / Developer / System Administrator</h3>
                    <p><span class="strong">Exeter Unified School District:</span> Exeter, Ca - 2010 : 2016</p>
                    <ul>
                        <li>Created automation scripts for implementation of new email clients and servers saving a total of 32 man hours a year for the District.</li>
                        <li>Created custom software to add in mass users to Active Directory saving District one week per year in man hours.</li>
                        <li>Created Custom Software to reset user passwords to District default password usable by all teachers for student logins saving teachers a total of 20 hours per year in lost teaching hours.</li>
                        <li>Updated website and maintain servers</li>
                    </ul>
                </div>
                <div class="Section-Item">
                    <h3>Independent Consultant / Contract Work</h3>
                    <ul>
                        <li>Assisted Garuda International Update their database added new Functionality to database including, Lab tracking and email functionality, New Forms and Tables. Updates reduced redundancy in the process and sped up start to finish flow of tracking of products. Saved company and estimated $40,000 annually</li>
                        <li>Designed and implemented billing and email system for Expert Flooring Inc, updated network and provide management for user consoles. Savings to the company estimated at $10,000 annually</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 Section-Title">
                <h4><i class="fa fa-users" aria-hidden="true"></i> References:</h4>
            </div>
            <div class="col-md-10 Section-Item">
                <p>All previous companies may be contacted with the expection of the Contract work. Additional References are available on request.</p>
                <a href="https://www.linkedin.com/pub/jared-good/3/9b6/411">
                    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View Jared Good's profile on LinkedIn">
                </a>
            </div>
        </div>

    </div>

</body>
</html>